@charset "utf-8";

.VHchnFRZf5qnPjN89PYuZ {
  color: #dc3545 !important;
  font-weight: 1000 !important;
}

._1aQnt_dD4JEgmVPmU0a1Ih {
  color: unset !important;
}

._2IZtXb-KvM04dIug-XLTlZ {
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
}

._2swKj4jcY6qHxez9IxchB6::-webkit-scrollbar {
  display: none !important;
}

._3IFOzATCJ_Di2heAKJmE3z {
  padding-left: .7rem !important;
}
